.calcParameters {
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  animation: show 1s ease;
}

@keyframes show {
  0% {
    position: absolute;
    right: -100%;
  }
  100% {
    position: absolute;
    right: 30px;
  }
}
