.parameter {
  display: flex;
  justify-content: space-between;
}

.parameter div {
  font-family: "Orelega One", cursive;
  font-size: 17px;
  color: white;
  width: calc(220px / 4 - 15px);
  margin-bottom: 15px;
}

.parameters__value {
  width: calc(220px / 4 - 15px);
  height: 25px;
  border: none;
  border-radius: 15px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  text-align: center;
}
